/* Style for the modal background */
.modal-backdrop {
    opacity: 0.7;
}

/* Style for the modal itself */
.modal {
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

/* Style for the modal header */
.modal-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

/* Style for the modal body */
.modal-body {
    padding: 20px;
}

/* Style for form inputs and button */
.form-group {
    margin-bottom: 20px;
}

/* Style for the submit button */
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}


/* Style for the slider container */
#userSlider {
    margin-top: 20px;
}
.slider-container {
    margin-top: 20px;
    text-align: center;
}


/* Style for the pricing cards */
.card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* Style for the slider container */
#user-slider {
    width: 100%;
    margin-top: 20px;
}

/* Style for the highlighted plan */
.col-md-4 .card.highlighted {
    background-color: #4bdc65; /* Change the highlight background color */
    color: #fff; /* Change the text color */
    border: 2px solid #0a0a0a; /* Add a border around the highlighted plan */
}

/* Style for the slider thumb */
#user-slider::-webkit-slider-thumb {
    background-color: #2add4a; /* Change the slider thumb color */
    border: 2px solid #1c1d1e; /* Add a border to the slider thumb */
    height: 20px; /* Adjust the height of the slider thumb */
    width: 20px; /* Adjust the width of the slider thumb */
}

#user-slider::-moz-range-thumb {
    background-color: #2add4a;
    border: 2px solid #1c1d1e;
    height: 20px;
    width: 20px;
}

#user-slider::-ms-thumb {
    background-color: #2add4a;
    border: 2px solid #1c1d1e;
    height: 20px;
    width: 20px;
}


/* Existing CSS styles */

/* Add styles for lazy loading */
.lazy-load-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lazy-load-container .results {
    margin-top: 20px;
}
/* Add or modify styles for the lazy loading container */
.lazy-load-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto; /* Add scroll if content overflows */
}

/* Style for the lazy loading header */
.lazy-load-container h2 {
    font-size: 24px;
    color: #333;
}

/* Style for individual result items */
.result-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Style for result item title */
.result-item h3 {
    font-size: 20px;
    color: #007bff;
}

/* Style for result item body */
.result-item p {
    font-size: 16px;
    color: #555;
}

open-form {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Hide the forms by default */
.hidden-form {
    display: none;
}